<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>ras1</title>
    <link rel="icon" type="image/png" sizes="1924x1923" href="assets/img/RAS_placard_digital_labeled_arialBlack_main.png">
    <link rel="icon" type="image/png" sizes="1924x1923" href="assets/img/RAS_placard_digital_labeled_arialBlack_main.png">
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="manifest" href="manifest.json">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Bebas+Neue">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lora">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Slab">
    <link rel="stylesheet" href="assets/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="assets/fonts/ionicons.min.css">
    <link rel="stylesheet" href="assets/fonts/simple-line-icons.min.css">
    <link rel="stylesheet" href="assets/fonts/fontawesome5-overrides.min.css">
    <link rel="stylesheet" href="assets/css/Article-Clean.css">
    <link rel="stylesheet" href="assets/css/Article-Dual-Column.css">
    <link rel="stylesheet" href="assets/css/Article-List.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <link rel="stylesheet" href="assets/css/Login-Form-Clean.css">
    <link rel="stylesheet" href="assets/css/Login-Form-Dark.css">
    <link rel="stylesheet" href="assets/css/Registration-Form-with-Photo.css">
    <link rel="stylesheet" href="assets/css/untitled.css">
</head>

<body style="background: rgb(61,92,146);">
    <!-- Start: Login Form Clean -->
    <section class="login-clean" style="background: transparent;border-style: none;opacity: 1;">
        <form class="shadow-none" method="post" style="background: rgb(61,92,146);border-style: hidden;margin: 0px, 400px;padding: 0;">
            <div class="alert alert-success alert-dismissible" role="alert"><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
                <h4 class="alert-heading">Success</h4><span>Passcode successfully SMS'd to $mobile_number.</span>
            </div>
            <div class="alert alert-danger alert-dismissible" role="alert"><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
                <h4 class="alert-heading">Error</h4><span>Passcode unable to be sent. Please email info@radioactivescout.com for assistance</span>
            </div>
            <div class="illustration"><img src="assets/img/RAS_placard_digital_labeled_arialBlack_main.png" width="150px"></div>
            <div class="form-group"><label data-toggle="tooltip" data-bss-tooltip="" style="color: rgb(255,200,46);" title="Don't have a mobile? Ask a guardian for help!">Enter your mobile number to receive a passcode to login<br></label><input class="form-control" type="tel" placeholder="Mobile number" inputmode="tel" name="mobile_phone"><button class="btn btn-primary btn-block" type="submit" style="background: rgb(0,174,66);">SMS me a Passcode</button></div>
            <div class="form-group"><label style="color: rgb(255,200,46);">Enter your passcode SMS'd to you below:</label><input class="form-control" type="password" name="passcode" placeholder="Enter your passcode" inputmode="numeric"><button class="btn btn-primary btn-block" type="submit" style="background: rgb(0,174,66);">Log In</button></div><a class="forgot" href="#" style="color: rgb(255,200,46);">Forgot your email or password?</a><a class="forgot" href="#" style="color: rgb(255,200,46);">Phone number not recognised? Register first!</a>
        </form>
    </section><!-- End: Login Form Clean -->
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/bs-init.js"></script>
</body>

</html>