<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>ras1</title>
    <link rel="icon" type="image/png" sizes="1924x1923" href="assets/img/RAS_placard_digital_labeled_arialBlack_main.png">
    <link rel="icon" type="image/png" sizes="1924x1923" href="assets/img/RAS_placard_digital_labeled_arialBlack_main.png">
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="manifest" href="manifest.json">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Bebas+Neue">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lora">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Slab">
    <link rel="stylesheet" href="assets/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="assets/fonts/ionicons.min.css">
    <link rel="stylesheet" href="assets/fonts/simple-line-icons.min.css">
    <link rel="stylesheet" href="assets/fonts/fontawesome5-overrides.min.css">
    <link rel="stylesheet" href="assets/css/Article-Clean.css">
    <link rel="stylesheet" href="assets/css/Article-Dual-Column.css">
    <link rel="stylesheet" href="assets/css/Article-List.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <link rel="stylesheet" href="assets/css/Login-Form-Clean.css">
    <link rel="stylesheet" href="assets/css/Login-Form-Dark.css">
    <link rel="stylesheet" href="assets/css/Registration-Form-with-Photo.css">
    <link rel="stylesheet" href="assets/css/untitled.css">
</head>

<body style="background: rgb(61,92,146);">
    <div class="container">
        <div class="row" style="margin: 25px 0px 0px 0px;">
            <div class="col-9 col-sm-6 col-md-5 col-lg-4 col-xl-3 offset-1 offset-sm-3 offset-md-4 offset-lg-0 offset-xl-0" style="padding: 0px;"><img class="float-none float-lg-right float-xl-right" src="assets/img/RAS_placard_digital_labeled_arialBlack_main.png" width="250px" loading="lazy"></div>
            <div class="col-12 col-lg-8 col-xl-9 offset-xl-0">
                <h1 style="font-family: 'Bebas Neue', serif;color: rgb(255,200,46);">Welcome to<br>Radio Active Scout</h1>
                <p style="color: rgb(255,200,46);">Complete the form below to register for Radio Active Scout. No password is required - accessing your account is done by sending you a code by email to the address you provide below. If you do have any issues with logging in, please email your helpful Radio Active Scout site admins via info@radioactivescout.com and we'll help you out!</p>
            </div>
        </div>
        <div class="row" style="margin: 100px 0px 0px 0px;">
            <div class="col-xl-12 offset-xl-0" style="padding: 0px;">
                <!-- Start: Registration Form with Photo -->
                <section class="register-photo" style="background: rgb(158,27,50);padding: 0px;">
                    <!-- Start: Form Container -->
                    <div class="shadow-none form-container">
                        <form class="shadow-none" method="post" style="background: transparent;padding: 40px;">
                            <h2 class="text-center" style="color: rgb(255,200,46);">Provide your details below to register</h2>
                            <p style="color: rgb(255,200,46);">Registration helps with managing scheduled activities and events, simplifies billing, and gets your badges to you faster. Don't worry, your personal details are securely stored in line with the Privacy Policy of Scouts Australia.</p>
                            <div class="form-group"><label style="color: rgb(255,200,46);">First Name</label><input class="form-control" type="text"></div>
                            <div class="form-group"><label style="color: rgb(255,200,46);">Last Name</label><input class="form-control" type="text"></div>
                            <div class="form-group"><label style="color: rgb(255,200,46);">Your Display Name</label><input class="form-control" type="text"></div>
                            <div class="form-group"><label style="color: rgb(255,200,46);">Your Email Address</label><input class="form-control" type="email" name="email" placeholder="Email" autocomplete="on" inputmode="email" required=""></div>
                            <div class="form-group"><label data-toggle="tooltip" data-bss-tooltip="" style="color: rgb(255,200,46);" title="Don't have a mobile? Ask your guardian if you can use theirs">Your Contact Number</label><input class="form-control" type="tel" name="phone_number" placeholder="Mobile Number" required="" inputmode="tel" value="04"></div>
                            <div class="form-group"><label data-toggle="tooltip" data-bss-tooltip="" style="color: rgb(255,200,46);" title="Don't have a mobile? Ask your guardian if you can use theirs">Your Scout Group</label><input class="form-control" type="text" name="groupName" placeholder="10th Essendon"></div>
                            <div class="form-group"><button class="btn btn-warning btn-block" type="submit">Complete Registration</button></div><a class="already" href="#">You already have an account? Login here.</a>
                        </form>
                    </div><!-- End: Form Container -->
                </section><!-- End: Registration Form with Photo -->
            </div>
        </div>
    </div>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/bs-init.js"></script>
</body>

</html>